version: "3"

services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
    ports:
      - "3306:3306"
    networks:
      - overlay

  mongodb:
    image: mongo:latest
    hostname: mongodb
    environment:
      - MONGODB_DATABASE="test"
    networks:
      - overlay
    ports:
      - 27017:27017

  redis_test:
    image: redis:latest
    hostname: redis_test
    networks:
      - overlay
    ports:
      - 6379:6379

networks:
  overlay:
