version: "3"

services:
  db1:
    image: mysql:9
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test1
    ports:
      - "3306:3306"
  db2:
    image: mysql:9
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test2
    ports:
      - "3307:3306"